---
import fhm from '../fhm.js';
import Latest from '../components/Latest.jsx';

const response = await fetch('https://secure.hersen.name/fohm');
const data = await response.json();
const { heading, columns, rows, cells } = data;
const { cases } = fhm(columns, rows, cells);
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>fhm-astro</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <h1>{heading}</h1>
    <nav>
        <ul>
            <li>
                <a href="7">7 dagars rullande medelvärde per miljon</a>
            </li>
            <li>
                <a href="14">14 dagars fall per 100000</a>
            </li>
            <li>
                <a href="change">senaste 7 dagarna jämfört med de 7 föregående</a>
            </li>
            <li>
                <a href="map14">karta</a>
            </li>
            <li>
                <a href="chart">diagram över 7 dagars rullande medelvärde per miljon</a>
            </li>
        </ul>
    </nav>
    <Latest latest={cases.latest} />
</body>
</html>
