---
import fhm from '../fhm.js';
import Map from '../components/Map.jsx';

const response = await fetch('https://secure.hersen.name/fohm');
const data = await response.json();
const { heading, columns, rows, cells } = data;
const { cases } = fhm(columns, rows, cells);
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>fhm-astro</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <h1>{heading}</h1>
    <Map dataArray={cases.latest7} />
</body>
</html>
